/* Tooltip */

.tooltip {
	cursor: help;
}
#tooltip {
	background: #f9f9f9;
	border: 1px solid #aaa;
	border-bottom-color: #999;
	color: #333;
	font-size: 12px;
	line-height: 1.5;
	padding: 6px 9px 5px;
	cursor: help;
	z-index: 10000;
}


/* Popup */
#popup-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 3001;
	display: none;
}
#popup {
	background: #fff;
	border: 1px solid #666;
	border-bottom-color: #333;
	padding: 8px;
	position: relative;
	left: auto !important;
	/*z-index: 3001;*/
	/*display: none;*/
	margin: 0 auto;
	max-width: 100%;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.touch #popup {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
}
#popup.fullscreen {
	position: fixed;
	border: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: auto !important;
	height: auto !important;
	max-width: none !important;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
}
@media only screen and (max-width: 767px) {
	#popup {
		position: fixed;
		border: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		width: auto !important;
		height: auto !important;
		max-width: none !important;
		left: 0 !important;
		right: 0 !important;
		top: 0 !important;
		bottom: 0 !important;
	}
}
#popup.scroll {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#popup-background {
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2000
}
#popup .caption {
	color: #333;
	font-size: 1.083em;
	margin: 10px 0 4px;
}
#popup iframe {
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
/*
#popup-close {
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	top: -12px;
	right: -11px;
	z-index: 2002;
	background: transparent url('../images/framework/popup_close.png') 1px 1px no-repeat;
}
#popup-close:hover {
	cursor: pointer;
	background: transparent url('../images/framework/popup_close_on.png') 1px 1px no-repeat;
}
*/
#popup-close {
	position: absolute;
	z-index: 2002;
	top: 8px;
	right: 8px;
	width: 35px;
	height: 34px;
	padding: 0;
	margin: 0;
	border: 0;
	background: url('../images/framework/modal_close_hd.png') 0 0 no-repeat;
	-webkit-background-size: 35px;
	-moz-background-size: 35px;
	-o-background-size: 35px;
	background-size: 35px;
	opacity: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}
#popup:hover #popup-close, #popup.fullscreen #popup-close, .touch #popup #popup-close {
	opacity: 0.5;
}
#popup:hover #popup-close:hover {
	opacity: 1;
}
#popup-close:focus {
	opacity: 1;
}
#popup-anchor:focus {
	outline: 0;
}
a.popup.with-icon {
	padding-right: 14px;
	background: transparent url('../images/framework/icon_popup.gif') right 0.25em no-repeat;
}


/* Expander */

.expander, .expander div, .expander.scripted .expander-heading  {
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 1.5em;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.expander div {
	padding-left: 21px;
	border-left: 2px solid #f0f0f0;
}
.expander.scripted div {
	border-color: #dbecf2;
	margin-left: 1px;
	width: calc(100% - 1px);
}
.expander.scripted .expander-heading {
	background: rgba(0,0,0,0.035);
	text-transform: none;
	font-weight: normal;
	margin-bottom: 0.75em;
	font-size: 20px;
	cursor: pointer;
	width: calc(100% + 12px);
	padding: 0.2em 6px;
	margin-left: -6px;
}
.expander.scripted .expander-heading:hover, .expander.scripted .expander-heading:focus {
	background: rgba(0,0,0,0.05);
}
.expander.scripted .expander-heading + div {
	position: absolute;
	left: -10000em;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.expander .expander-heading.open + div {
	position: static;
	width: 100%;
	width: calc(100% - 1px);
	height: auto;
}
.expander .expander-heading .fa {
	font-size: 20px;
	opacity: 0.5;
	padding: 0 7px 0 1px;
	line-height: 1.3;
	position: relative;
	top: 1px;
}
.expander .expander-heading.open, .expander .expander-heading.open:hover {
	color: #3584ba;
	background: #e5f2f7;
}
.expander .expander-heading.open .fa {
	color: #3584ba;
	opacity: 1;
}
.expander .expander-heading.open .fa:before {
	content: '\f147';
}
@media only screen and (max-width: 768px) {
	.expander.scripted .expander-heading {
		font-size: 17px;
	}
}
.expander .expand-all {
	text-decoration: none;
	display: block;
	margin-bottom: 1.25em;
	font-size: 11px;
}
.expander .expand-all:before {
	font: normal normal normal 14px/1 FontAwesome;
	speak: none;
	font-size: 14px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f03a';
	padding: 0 5px 0 2px;
	position: relative;
	top: 1px;
	color: #aaa;
}
.expander .expand-all:active {
	color: #333;
}
.expander .expand-all:active:before {
	color: #333;
}
.expander.scripted div.table-scroller, .expander.scripted div.table-fader {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Mobile Table Helper */
/* *************************************************** */
@media only screen and (max-width: 768px) { /* ******* */

.table-scroller {
	position: relative;
	float: left;
	width: 100% !important;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.table-scroller > .mobile-scroll {
	min-width: 753px;
}
.table-scroller .table-fader {
	position: absolute;
	width: 80px !important;
	height: 100%;
	top: 0;
	right: 0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

/* ************** */ }


/* Mobile Expander (e.g., Section Navigation) */
.mobile-expander .mobile-expander-heading .fa {
	display: none;
}
/* *************************************************** */
@media only screen and (max-width: 767px) { /* ******* */

.mobile-expander, .mobile-expander .mobile-expander-heading, .mobile-expander > div  {
	float: left;
	width: 100%;
	clear: both;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mobile-expander .mobile-expander-heading {
	background: rgba(0,0,0,0.035);
	text-transform: none;
	font-weight: normal;
	font-size: 17px;
	line-height: 32px;
	cursor: pointer;
	/* 
width: calc(100% + 12px);
	padding: 0 6px;
	margin-left: -6px;
 */
}
.mobile-expander .mobile-expander-heading:hover, .mobile-expander .mobile-expander-heading:focus {
	background: rgba(0,0,0,0.05);
}
.mobile-expander .mobile-expander-heading + div {
	position: absolute;
	left: -10000em;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.mobile-expander .mobile-expander-heading .fa {
	display: inline-block;
	font-size: 18px;
	opacity: 0.4;
	padding: 0;
	width: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background: #3584ba;
	margin: 0 10px 0 0;
}
.mobile-expander .mobile-expander-heading.open, .mobile-expander .mobile-expander-heading.open:hover {
	color: #3584ba;
	background: #e5f2f7;
}
.mobile-expander .mobile-expander-heading.open .fa {
	/* color: #3584ba; */
	opacity: 1;
}
.mobile-expander .mobile-expander-heading.open .fa:before {
	content: '\f077';
}
.mobile-expander .mobile-expander-heading.open + div {
	position: static;
	width: 100%;
	width: calc(100% - 1px);
	height: auto;
}
.mobile-expander .punc {
	display: none;
}


/* ************** */ }
